.pace .pace-progress {
  background: #f46f15;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

@font-face {
	font-family: applechancery;
	src: url("/gwt/fonts/helveticaneue-webfont.eot");
}

@font-face {
	font-family: applechancery;
	src: url("/gwt/fonts/helveticaneue-webfont.ttf") format("truetype");
}

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

@media(min-width:768px) and (max-width: 991px){
	
	/*TopNavbar*/
	.xs-sm-logo-container{
		float: left;
		margin-left: 15px;
	}
	
	.positioned-user-image{
		margin-right: 8px;
		margin-top: 5px !important;
		z-index:1;
		position: relative;
		height: 30px !important;
	}
	
	.positioned-nouser-icon{
		z-index: 1;
		position: relative;
		margin-top: 8px !important;
		margin-right: 5px !important;
	}
	
	xs-sm-user-name{
		background-color: transparent;
	}
	
}

@media (max-width: 767px) {
	
	/*TopNavbar*/
	.xs-sm-logo-container{
		float: left;
		margin-left: 15px;
		width: 245px;
		margin-top: 17px;
		margin-bottom: 17px;
	}
	
	.positioned-user-image{
		margin-right: 8px;
		margin-top: 5px !important;
		z-index:1;
		position: relative;
		height: 30px !important;
	}
	
	.positioned-nouser-icon{
		z-index: 1;
		position: relative;
		margin-top: 8px !important;
		margin-right: 5px !important;
	}
	
	.xs-sm-user-name{
		background-color: transparent;
	}
	
	/*UIContentWrapper*/
	.centered-content-page{
		height: auto !important;
	}
	
	.parent-center-vertical{
		display: block !important;
	}
	
	/*Footer*/	
	.footer-text{
		line-height: 25px !important;
		text-align: center !important;	
	}
	
	.footer-logomarca{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	/*Utils*/
	.center-vertical {
	    float: left !important;
	}
	
	.xs-center-block{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.xs-center-text {
		text-align: center !important;
	}
	
	/*Common*/
	.form-label{
		right: 0px !important;
	}

}



